.tituloalg{
   
    left: 290px;
    width: 332px;
    height: 60px;
    
    text-align: left;
    text-transform: 700;
    font: 700 normal normal 20px/28px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    
}
.cortexto{

    top: 473px;
    left: 290px;
    width: 520px;
    height: 170px;
    text-align: left;
    font: normal normal normal 15px/18px Helvetica Neue;
    
    color: #888888;
    opacity: 1;
}
.cortexto2{

    top: 473px;
    left: 290px;
    width: 520px;
    height: 220px;

    text-align: left;
    font: normal normal normal 15px/18px Helvetica Neue;
   
    color: #888888;
    opacity: 1;
    
    }




main{
    Top:0%;
    padding-top:3%;
    width:950px;
    height: 400px;
    display:flex;
    justify-content:space-between;
    
    margin: 0 auto;
}

/* input{
    background-color: rgba(255, 153, 0, 0.953);
    margin:8%;
    width:100%;
    padding-top:20px;
    padding-left:90px;
    
} */
form{
    top: 420px;
    right: 870px;
    width: 340px;
    height: 400px;
    display:column;
    justify-content: column;
    
   
}
.inputtexto{
    
    top: 441px;
    left: 870px;
    width: 340px;
    height: 30px;
    border: 1px solid #707070;
    background-color:rgba(228, 156, 67, 0.453);
    margin:5%;
    color:rgb(154,89,142);
    font-size:15px;
    text-transform: 700;
    
}
.containerRadio{
  margin:50px;
}
label{
    
    top: 420px;
    left: 970px;
    width: 58px;
    height: 14px;
    margin-left:18px;
    
    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    } 
    
.labelRadio{
    width:30px;
    display:inline;

    margin-bottom: 40px;
    margin-left:18px;
}



.btnSubmit{
    width: 800px;
    display:flex;
}

