button{
    width:15%;
    font-size:20px;
    background-color: #ea9707;
    color: rgba(248, 245, 245, 0.952);
    justify-content: space-around;
    display:inline;
    grid-template-columns: 1rf 1rf;
    column-gap:10px;
    margin: 0 25px;
    border-radius: 5px;
    border-style: none;
    padding:15px;
    box-shadow: 10px 5px 5px rgb(118, 113, 113);
    cursor:pointer;
    padding-left: 15px;
    padding-right: 15px;
}